<h2>Password Reset</h2>
<div class="card">
  <div class="card-body" id="cartBody">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="email">
            Please type your email address:
          </label>
          <input type="text" formControlName="email" class="form-control form-control-sm"
            [ngClass]="{ 'is-invalid': submitted() == true && forgotForm.controls['email'].errors }" />
          @if(forgotForm.controls['email'].invalid
          && (forgotForm.controls['email'].dirty
          || forgotForm.controls['email'].touched)){
          <div class="text-danger">
            @if(forgotForm.controls['email'].errors?.['required']){
            <div>
              Email is required
            </div>
            }
            @if(forgotForm.controls['email'].errors?.['email']){
            <div>
              Email must be a valid email address
            </div>
            }
          </div>
          }
        </div>
      </div>
      <button type="submit" [disabled]="!forgotForm.valid">
        Submit
      </button>
    </form>
  </div>
  @if(success() && submitted()){
  <div class="alert alert-success" role="alert">
    Password was reset successful.
    An email with instructions has been sent to:
    {{this.forgotForm.controls['email'].value}}
  </div>
  }

  @if(!success() && submitted()){
  <div class="alert alert-danger" role="alert">
    {{errorMessage()}}
  </div>
  }
</div>