<h2>New Password</h2>
<div class="card">
  <div class="card-body" id="cartBody">

    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" class="form-control form-control-sm"
            [ngClass]="{ 'is-invalid': submitted() == true && newPasswordForm.controls['password'].errors }" />
          @if(newPasswordForm.controls['password'].invalid
          && (newPasswordForm.controls['password'].dirty
          || newPasswordForm.controls['password'].touched)){
          <div class="text-danger">
            @if(newPasswordForm.controls['password'].errors?.['required']){
            <div>
              Password is required
            </div>
            }
          </div>
          }
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="confirmPassword">Confirm password:</label>
          <input type="password" formControlName="confirmPassword" class="form-control form-control-sm"
            [ngClass]="{ 'is-invalid': submitted() == true && newPasswordForm.controls['confirmPassword'].errors && newPasswordForm.errors?.['passwordsMustMatch'] }" />
          @if((newPasswordForm.controls['confirmPassword'].invalid
          || newPasswordForm.errors?.['passwordsMustMatch'])
          && (newPasswordForm.controls['confirmPassword'].dirty
          || newPasswordForm.controls['confirmPassword'].touched)){
          <div class="text-danger">
            @if(newPasswordForm.controls['confirmPassword'].errors?.['required']){
            <div>
              Confirm Password is required
            </div>
            }
            @if(newPasswordForm.errors?.['passwordsMustMatch']){
            <div>
              Passwords must match
            </div>
            }
          </div>
          }
        </div>
      </div>
      <button type="submit" [disabled]="!newPasswordForm.valid">Change password</button>
    </form>
  </div>

  @if(success() && submitted()){
  <div class="alert alert-success" role="alert">
    Password change was successful<br />
    <button routerLink="/login">Log in</button>
  </div>
  }

  @if(!success() && submitted()){
  <div class="alert alert-danger" role="alert">
    {{errorMessage()}}
  </div>
  }
</div>